<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" style="color: white;" [routerLink]="['/home']">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a *ngIf="isAdmin" class="navbar-brand" style="color: white;" [routerLink]="['/employee']">Employees</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" style="color: white;" [routerLink]="['/share']">Shares</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" style="color: white;" [routerLink]="['/transaction']">Transactions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#addShareModal">
                    Add Share
                </button>
            </li>
            <li class="nav-item">
                <div >
                    <app-search [placeholder]="customPlaceholder" (searchTextChanged)="onSearchTextEntered($event)">
                    </app-search>
                  </div>
            </li>
            <button class="btn btn-outline-light my-2 my-sm-0"  (click)="logout()">Logout</button>
        </ul>
    </div>    
</nav>
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
<!--Get all share-->
<div class="container-fluid" id="main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Shares</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">Symbol</th>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">Currency</th>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">Share Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">Company Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">Country</th>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">Economic Field</th>
                                <th scope="col" class="border-0 text-uppercase font-medium text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let share of filteredShares">
                                <td class="pl-2" style="text-align: center;">{{share?.id}}</td>
                                <td style="text-align: center;">{{share?.symbol}}</td>
                                <td style="text-align: center;">{{share?.currency}}</td>
                                <td style="text-align: center;">{{share?.shareName}}</td>
                                <td style="text-align: center;">{{share?.companyName}}</td>
                                <td style="text-align: center;">{{share?.country}}</td>
                                <td style="text-align: center;">{{share?.economicField}}</td>
                                <td style="text-align: center;">
                                    <button (click)="onOpenModal(share, 'edit')"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-0"><i
                                            class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Share Modal-->
<div class="modal fade" id="addShareModal" tabindex="-1" role="dialog" aria-labelledby="addShareModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addShareModalLabel">Add share</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="addError" class="alert alert-danger">
                    {{ addError }}
                </div>
                <form #addForm="ngForm" (ngSubmit)="onAddShare(addForm)">
                    <div class="form-group">
                        <label for="symbol">Symbol</label>
                        <input type="text" ngModel name="symbol" class="form-control" id="symbol" placeholder="Symbol"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="currency">Currency</label>
                        <input type="text" ngModel name="currency" class="form-control" id="currency" placeholder="Currency"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="shareName">Share Name</label>
                        <input type="text" ngModel name="shareName" class="form-control" id="shareName"
                            placeholder="Share Name" required>
                    </div>
                    <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <input type="text" ngModel name="companyName" class="form-control" id="companyName"
                            placeholder="Company Name" required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" ngModel name="country" class="form-control" id="country"
                            placeholder="Country" required>
                    </div>
                    <div class="form-group">
                        <label for="economicField">Economic Field</label>
                        <input type="text" ngModel name="economicField" class="form-control" id="economicField"
                            placeholder="Economic Field" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" 
                                id="closeEditModalBtn" 
                                data-dismiss="modal" 
                                class="btn btn-secondary"
                                (click)="closeAddShareModal()">Close</button>
                                <button type="submit" 
                                class="btn btn-primary"
                                [disabled]="addForm.invalid">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Share Modal -->
<div class="modal fade" id="updateShareModal" tabindex="-1" role="dialog" aria-labelledby="updateShareModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateShareModalLabel">Edit Share Details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="updateError" class="alert alert-danger">
                    {{ updateError }}
                </div>
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="symbol">Symbol</label>
                        <input type="text" ngModel="{{editShare?.symbol}}" name="symbol" class="form-control" id="symbol"
                            placeholder="Symbol" required>
                    </div>
                    <div class="form-group">
                        <label for="currency">Currency</label>
                        <input type="text" ngModel="{{editShare?.currency}}" name="currency" class="form-control" id="currency"
                            placeholder="Symbol" required>
                    </div>
                    <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <input type="text" ngModel="{{editShare?.companyName}}" name="companyName" class="form-control"
                            id="companyName" placeholder="Company Name" required>
                    </div>
                    <div class="form-group">
                        <label for="shareName">Share Name</label>
                        <input type="text" ngModel="{{editShare?.shareName}}" name="shareName" class="form-control"
                            id="shareName" placeholder="Share Name" required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" ngModel="{{editShare?.country}}" name="country" class="form-control"
                            id="country" placeholder="Country" required>
                    </div>
                    <div class="form-group">
                        <label for="economicField">Economic Field</label>
                        <input type="text" ngModel="{{editShare?.economicField}}" name="economicField"
                            class="form-control" id="economicField" placeholder="Economic Field" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeEditModalBtn" (click)="closeUpdateShareModal()" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateShare(editForm.value)" class="btn btn-primary" [disabled]="editForm.invalid">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Notification for no shares -->
<div *ngIf="shares?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO SHARES!</h4>
        <p>No shares were found.</p>
    </div>
</div>