<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

   <a class="navbar-brand" style="color: white;" [routerLink]="['/home']">Portfolio</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
       aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <a *ngIf="isAdmin" class="navbar-brand" style="color: white;" [routerLink]="['/employee']">Employees</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
       aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" style="color: white;" [routerLink]="['/share']">Shares</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
       aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" style="color: white;" [routerLink]="['/transaction']">Transactions</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
       aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse text-right" id="navbarColor02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#addTransactionModal">
            Add Transaction
          </button>
        </li>
      </ul>
      <div >
         <app-search [placeholder]="customPlaceholder" (searchTextChanged)="onSearchTextEntered($event)">
         </app-search>
       </div>
      <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
  </nav>
  <div *ngIf="errorMessage" class="error-message">
   {{ errorMessage }}
 </div>
  <!--Get all transactions-->  
  <div class="container-fluid" id="main-container">
   <div class="row">
       <div class="col-md-12">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title text-uppercase mb-0">Manage Transactions</h5>
               </div>
               <div class="table-responsive">
                   <table class="table no-wrap user-table mb-0">
                       <thead>
                           <tr>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Trade date</th>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Employee Id</th>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Transaction Type</th>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Volume</th>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Currency</th>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Share Symbol</th>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Price</th>
                               <th scope="col" class="border-0 text-uppercase font-medium text-center">Actions</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr *ngFor="let transaction of filteredTransactions">
                               <td class="pl-2 text-center">{{ transaction?.date }}</td>
                               <td class="pl-2 text-center">{{ transaction?.employee?.id }}</td>
                               <td class="text-center">{{ transaction?.type }}</td>
                               <td class="text-center">{{ transaction?.volume | number:'1.0-0' }}</td>
                               <td class="text-center">{{ transaction?.share?.currency }}</td>
                               <td class="text-center">{{ transaction?.share?.symbol }}</td>
                               <td class="text-center">{{ transaction?.price | number:'1.2-2' }}</td>
                               <td class="text-center">
                                   <button (click)="onOpenModal(transaction, 'edit')"
                                       class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                                       <i class="fa fa-edit"></i>
                                   </button>
                                   <button (click)="onOpenModal(transaction, 'delete')"
                                       class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                                       <i class="fa fa-trash"></i>
                                   </button>
                               </td>
                           </tr>
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
</div>

  <!-- Add transaction Modal -->
  <div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addTransactionModalLabel">Add transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div *ngIf="addError" class="alert alert-danger">
               {{ addError }}
           </div>
            <form #addForm="ngForm" (ngSubmit)="onAddTransaction(addForm)">
               <div class="form-group">
                  <label for="transactionType">Transaction Type</label>
                  <select ngModel name="type" class="form-control" id="transactionType" required>
                      <option value="PURCHASE">Purchase</option>
                      <option value="SALE">Sale</option>
                  </select>
              </div>              
            <div class="form-group">
               <label for="fx">FX</label>
               <input type="number" ngModel name="fx" class="form-control" id="fx" placeholder="Fx" required>
            </div>
            <div class="form-group">
               <label for="price">Price</label>
               <input type="number" ngModel name="price" class="form-control" id="price" placeholder="Price" required>
            </div>
            <div class="form-group">
               <label for="volume">Trading volume</label>
               <input type="number" ngModel name="volume" class="form-control" id="volume" placeholder="Trading volume" required>
            </div>
            <div class="form-group">
               <label for="empId">Employee ID</label>
               <input type="number" ngModel name="empId" class="form-control" id="empId" placeholder="Employee ID" required>
           </div>
           <div class="form-group">
               <label for="secId">Share symbol</label>
               <input type="text" ngModel name="secId" class="form-control" id="secId" placeholder="Share symbol" required>
           </div>
           <div class="modal-footer">
            <button type="button" 
                    id="closeEditModalBtn" 
                    data-dismiss="modal" 
                    class="btn btn-secondary"
                    (click)="closeAddTransactionModal()">Close</button>
                    <button type="submit" 
                    class="btn btn-primary"
                    [disabled]="addForm.invalid">Save changes</button>
        </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  <!-- Edit Modal -->
  <div class="modal fade" id="updateTransactionModal" tabindex="-1" role="dialog" aria-labelledby="transactionEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateTransactionModalLabel">Edit transaction {{editTransaction?.id}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
            <div *ngIf="updateError" class="alert alert-danger">
               {{ updateError }}
           </div>
             <form #editForm="ngForm">
                <div class="form-group">
                    <label for="volume">Transaction type</label>
                    <select ngModel name="type" class="form-control" id="transactionType" required>
                     <option value="PURCHASE">Purchase</option>
                     <option value="SALE">Sale</option>
                 </select>
                </div>
                <input type="hidden" ngModel="{{editTransaction?.id}}" name="id" class="form-control" id="id" placeholder="Id">
                <input type="hidden" ngModel="{{editTransaction?.date}}" name="date" class="form-control" id="date" placeholder="Date">
                <input type="hidden" ngModel="{{editTransaction?.fx}}" name="fx" class="form-control" id="fx" placeholder="Fx">
                <div class="form-group">
                   <label for="volume">Trading Volume</label>
                   <input type="number" ngModel="{{editTransaction?.volume}}" name="volume" class="form-control" id="volume" placeholder="Volume">
                </div>
                <div class="form-group">
                   <label for="price">Trade price</label>
                   <input type="number" ngModel="{{editTransaction?.price}}" name="price" class="form-control" id="price" placeholder="Trade price">
                </div>
                <div class="modal-footer">
                  <button type="button" id="closeEditModalBtn" (click)="closeUpdateTransactionModal()" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateTransaction(editForm.value)" class="btn btn-primary" [disabled]="editForm.invalid">Save changes</button>
              </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteTransactionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete transaction</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
            <div *ngIf="deleteError" class="alert alert-danger">
               {{ deleteError }}
           </div>
             <p>Are you sure you want to delete transaction {{deleteTransaction?.id}}?</p>
             <div class="modal-footer">
               <button type="button" id="closeEditModalBtn" (click)="closeDeleteTransactionModal()" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button class="btn btn-danger" (click)="onDeleteTransaction(deleteTransaction?.id)">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Notification for no transactions -->
  <div *ngIf="transactions?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO transactions!</h4>
    <p>No transactions were found.</p>
  </div>
  </div>